.todo-perfil-medico {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todo {
    background-color: white;
    width: 60%;
    height: auto;
    padding: 30px;
    margin-top: 70px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topo {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.todo div img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.bot form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot form input {
    width: 250px;
    height: 15px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
}

.bot form label {
    width: 270px;
    margin-top: 10px;
}

.bot form button {
    padding: 10px;
    width: 100px;
    background-color: #E44E3F;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.bot form button:disabled {
    opacity: 0.7;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    width: 30px;
    height: 30px;
    margin: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.docs {
    width: 100%;
    height: 100%;
    border: none;
}
.pdf {
    background-color: rgba(0, 0, 0, 0.5);    
    
}

.inicio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio ul {
    width: 600px;
    background-color: white;
    border-radius: 6px;
    margin: 50px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio ul li {
    position: relative;
    width: 70%;
    min-height: 70px;
    background-color: white;
    border: solid 1px grey;
    margin: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}
.inicio li p {
    margin: 10px;
}
.inicio ul li small {
    position: absolute;
    font-style: italic;
    right: 10px;
    top: 5px;
    color: gray;
}
.arquivos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.arquivos a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.arquivos a span {
    max-width: 100%;
    margin: 5px;
    color: rgb(0, 26, 255);
}
.pdficon {
    font-size: 60px;
    color: rgba(128, 128, 128, 0.733);
}
.medico small {
    position: unset !important;
}
.medico {
    margin: 10px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 565px) {
    .topo {
        width: 100%;
        display: flex;
        flex-direction: column !important;
    }
    .inicio ul {
        width: 100%;
    }

}