.todo-perfil-medico {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todo {
    background-color: white;
    width: 60%;
    height: auto;
    padding: 30px;
    margin-top: 70px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topo {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.todo div img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.bot form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot form input {
    width: 250px;
    height: 15px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
}

.bot form label {
    width: 270px;
    margin-top: 10px;
}

.bot form button {
    padding: 10px;
    width: 100px;
    background-color: #E44E3F;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.bot form button:disabled {
    opacity: 0.7;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    width: 30px;
    height: 30px;
    margin: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lista-exames{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    
}
.lista-exames li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start !important;
    justify-content: center;
    list-style: none;
    margin: 5px;
}
.icon-exames {
    font-size: 30px !important;
}
.list-container{
    width: 300px;
  
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}
.list-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.list-container div input{
    width: 200px;
    height: 20px;
    padding: 5px;
}
.list-container div img {
    width: 80px;
    border-radius: 100%;
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 565px) {
    .topo {
        width: 100%;
        display: flex;
        flex-direction: column !important;
    }
}